<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="padding-top">
    <div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
      <a class="navbar-brand" href="/acceuil">
        <img src="https://nsa40.casimages.com/img/2020/02/07/mini_200207061714571664.jpg" />
      </a>
      <div id="logo_central"><b>CLOE</b></div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link border-right" href="/formations">Nos formations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link border-right" href="/profils">Notre experte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contactez-nous</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container text-center center border border-solid border-black rounded custom-padding" id="cont-index">
    <%= yield %>
  </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <div class="container footer d-flex justify-content-center">
      <div class="footer-links">
        <a href="https://www.instagram.com/cabinet_cloe_efhc/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/AnnickNiniCloe/"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com/AnnickBibaut"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/annick-bibaut-b8419672/"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </body>
</html>
